.jsonBuilder {
    .objectBlock {
        padding-left: 16px;
        border-left-width: 4px;
        border-left-style: solid;
        border-image:
            linear-gradient(
                to bottom,
                var(--bs-emphasis-color),
                var(--bs-tertiary-bg),
                var(--bs-body-bg)
            ) 1 100%;
    }
}