.compareMenu {
    .buttonGroups {
        display: flex;
        justify-content: end;
    }

    .compareWrapper {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 8px;
        row-gap: 16px;

        .codeWindow {
            border: 1px solid;
            border-radius: 8px;

            .codeHeader {
                padding: 4px;
                margin-bottom: 8px;

                button + button {
                    margin-left: 8px;
                }
            }
        }
    }
}
